body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #081b29;
   
}

#nav{
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background:transparent;
    display: flex;
    padding: 20px 5%;
    justify-content: space-between;
    z-index: 1;
    backdrop-filter: blur(10px);
}
#nav ul{
    width:100%;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}
#nav ul li{
    display: inline-block;
    margin-left: 7%;
   
}

#nav ul li a {
    font-size: 14px;
    color: skyblue;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
    animation-name: navmove;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

@keyframes navmove {
    from {
        margin-left: 55%;
    }
    to {
        margin-left: 7%;
    }
}

#nav ul li a:hover{
    color: #ededed;
}

#profile img{
    display: flex;
    height: 20%;
    width:20%;
    border:solid 5px skyblue;
    border-radius: 100% 100% 100% 100%;
    box-shadow: 0px 0px 8px 10px pink;
    margin-top:10%;
    margin-left: 5%;
   animation-name: enlarge;
   animation-duration: 2s;
   animation-iteration-count: 5;
}
@media (max-width) {
    #profile img{
        display: flex;
        height: 30%;
        width:30%;
    }
}
@keyframes enlarge {
    from{
        box-shadow: 0px 0px 12px 8px lightgoldenrodyellow;
        border:solid 10px lightskyblue;

    }
    to{
        box-shadow: 0px 0px 8px 6px yellowgreen;
        border:solid 5px skyblue;

    }
}
#details{
    color: white;
    position: relative;
    margin-left:45%;
    margin-top: -25%;
}
#details h3{
    font-family:'Courier New', Courier, monospace;
    
}
#nav{
    padding: 15px 3%;
}
#details h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 1%;
}

@media (max-width: 768px){
    body{
        font-size: 5px;

    }
   
    #profile img{
        position: relative;
        margin-top:70%;
        margin-left:25%;

        
    }
    #nav ul {
        flex-direction: column; 
        align-items: center; 
        width:100%;
        
    }
    #nav ul li a{
        font-size: 12px;
    }
    #nav ul li {
        margin-left: 0%;
        margin-bottom: 10px;
    }
    #nav ul li:nth-child(odd){
        position: relative;
        margin-left:10%;
        animation-name: snavmovo;
        animation-duration: 5s;
        animation-iteration-count: 1;
        
    }
    #nav ul li:nth-child(even){
        position: relative;
        margin-right:50%; 
        animation-name: snavmove;
        animation-duration: 5s;
        animation-iteration-count: 1;
    }
    @keyframes snavmovo {
        from{
            margin-left: 90%;
        }
        to{margin-left: 10%;}
        
    }
    @keyframes snavmove {
        from{
            margin-left: -50%;
        }
        to{margin-right: 50%;}
        
    }
    #details{
        position: relative;
        margin-top:15%;
        margin-left:15%;
        font-size: 14px;
    }
  
}
#details h2{
    font-style: oblique;
    font-weight: 400;

}
#mail{
    width:24px;
    height:24px;
    margin-right: 1%;
}
#cdetails{
    display: flex;
}
#mail1{
    text-decoration: none;
    color: skyblue;
}
#mail1:hover{
color: white;
}
#phone{
    width:28px;
    height:28px;
    margin-right: 1%;
}
#cdetails1{
    display:flex;
    margin-top: 5%;
}
#phone1{
    text-decoration: none;
    color: skyblue;
}
#phone1:hover{
color: white;
}
#linkedin{
    width:24px;
    height:24px;
    margin-right: 1%;
}
#cdetails2{
    display: flex;
    margin-top: 5%;
}
#linkedin1{
    text-decoration: none;
    color: skyblue;
}
#linkedin1:hover{
    color: white;
    }
#git{
    width:24px;
    height:24px;
    margin-right: 1%;
}
#cdetails3{
    display: flex;
    margin-top: 5%;
}
#git1{
    text-decoration: none;
    color: skyblue;
}
#git1:hover{
    color: white;
    }
#res1{
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
   margin-bottom: 5%;
   margin-left:10%;
   color: white;
   border: solid 2px white;
   border-radius: 25% 25% 25% 25%;
   background: black;
   padding: 1% 5% 1% 3%;
}
#res1:hover{
    background: white;
    color: black;
    border: solid 2px black;
   border-radius: 25% 25% 25% 25%;
}
/* section1 end*/
#kodnest{
    position: relative;
    margin-top: 5%;
}
#kodnest h1{
    margin-left: 5%;
    color: #ededed;
}
#kodnest h2{
    text-align: center;
    color: silver;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: italic;}
#kodnest p{
    width: 50%;
    color: #ededed;
    margin-left: 10%;
}
#kod{
    width:20%;
    height:30%;
    display: flex;
    position: relative;
    margin-left: 70%;
   margin-top: -10%;
   box-shadow: 2px 2px 3px 2px whitesmoke;
    
}
@media (max-width: 768px){
    #kodnest{
        position: relative;
        margin-top: 25%;
    }
    #kodnest h1{
        margin-left: 5%;
        color: #ededed;
        font-size: 18px;
    }
    #kodnest p{
        width: 50%;
        color: #ededed;
        margin-left: 30%;
        font-size: 12px;
        margin-left: 5%;
    }
    #kodnest h2{
        text-align: center;
        color: silver;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
font-size: 12px;
}
#kod{
    width:35%;
    height:30%;
    display: flex;
    position: relative;
    margin-left: 70%;
   margin-top: -20%;
   box-shadow: 2px 2px 3px 2px whitesmoke;
}
}
#apssdc{
    position: relative;
    margin-top: 10%;
    color: #ededed;
    margin-left: 10%;
}
#apssdc h1{
    text-align: center;
}
#apsimg{
    width:25%;
    height:25%;
    display: flex;
    position: relative;
    margin-left: 65%;
   margin-top: -20%;
   box-shadow: 2px 2px 3px 2px whitesmoke;
    
}
@media (max-width: 768px){
    #apssdc{
        position: relative;
        margin-top: 20%;
        color: #ededed;
        margin-left: 10%;
        font-size: 12px;
        width: 50%;
    }
    #apssdc h1{
        text-align: center;
        font-size: 18px;
    }
    #apsimg{
        width:25%;
        height:25%;
        display: flex;
        position: relative;
        margin-left:110%;
       margin-top: -20%;
       box-shadow: 2px 2px 3px 2px whitesmoke;
        
    }
}
#skills{
position: relative;
margin-top: 20%;
}
#skills h2{
    text-align: center;
color: #ededed;
}
#skills1 ul{
    display: flex;
    list-style-type: none;
    color: #ededed;
    align-items: center;
}
#skills1 ul li{
    text-decoration: none;
    margin-left: 5%;
}
#skills1 ul li img{
    height: 100px;
    width:100px;
}
@media(max-width:768px) {
    #skills{
        position: relative;
        margin-top: 25%;
        }
        #skills h2{
           
        color: #ededed;
        font-size: 18px;
        display: flex;
        position: relative;
        margin-top: 20%;
        width: 100%;

        }
        #skills1{
            text-align: center;
        }
        #skills1 ul{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            color: #ededed;
            font-size: 14px;
            position: relative;
            margin-top:20%;
            text-align: center;
        }
        #skills1 ul li{
            text-decoration: none;
            position: relative;
            margin-left: 5%;
            margin-bottom: 5%;
        }
        #skills1 ul li img{
            display: block;
            margin: 0 auto;
        }

    
}
#java{
    animation-name: java;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes java {
    from{
     padding-top: 10%;
    }
    to{
      padding-bottom: 10%;
    }
    
}
#html{
    animation-name: html;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes html {
    0%{
        transform: rotate(0deg);
       
    }
    50%{
        transform: rotate(20deg);
   }
   100%{
    transform: rotate(-20deg);
   }
}
#css{
    animation-name: css;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes css {
    0%{
transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#js{
    animation-name: js;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes js {
    0%{
        transform: scale(1);
    }
    45%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
    
    
}
#sql{
    animation-name: sql;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes sql {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}

/*skills section end*/
#work{
    color: #ededed;
    position: relative;
    margin-top: 20%;
}
#work h2{
    text-align: center;
}
#BusWave h3{
    position: relative;
    margin-left: 40%;
}
#BusWave{
border: solid 3px white;
border-radius: 50%;
width:25%;
height: 20%;
position: relative;
margin-left: 20%;
margin-top: 5%;
color:#ededed;
background: black;
animation-name: buswave;
animation-duration: 5s;
animation-iteration-count: infinite;
}
@keyframes buswave {
  
    50%{
        transform: rotate(20deg);
    }
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(-20deg);
    }
}
#BusWave img{
    width:70%;
    height: 70%;
    display: flex;
    position: relative;
    margin-top: 20%;
    margin-left: 15%;
    animation-name: busimg;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes busimg {
    0%{
        transform: scale(0.3);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.3);
    }
    
}
#BusWave p{
    position: relative;
    margin-left: 10%;
    color: gray;
}
@media (max-width:768px) {
    #work h2{
        text-align: center;
        font-size: 18px;
    }
    #BusWave{
        border: solid 3px white;
        border-radius: 50%;
        width:40%;
        height: 20%;
        position: relative;
        margin-left: 20%;
        margin-top: 5%;
        color:#ededed;
        background: black;
        animation-name: buswave;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        }
        #BusWave p{
          font-size: 12px;
        }
        #BusWave h3{
           font-size: 14px;
           position: relative;
           margin-left: 20%;

        }
}
#contact{
    position: relative;
    margin-top: 20%;
}
#contact h2{
    text-align: center;
    color: #ededed;
    font-size: 22px;
}
#contact ul{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 20%;
    width:75%;
    

}
#contact ul li{
    list-style-type: none;
    margin-bottom: 3%;
}
#name1{
    height:30px;
}
#mail1{
    height:30px;
}
#message1{
    height:50px;
}
#contact button{
    width:40%;
    margin-left: 15%;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}
@media (max-width:768px) {
    #contact h2{
        font-size: 18px;
    }
    #contact ul{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 20%;
        width:75%;
        
    
    }
    #contact button{

        width:40%;
        position: relative;
        margin-left: 40%;
        height: 30px;
        font-size: 14px;
        font-weight: 600;
    }
    
}
#contact2 div{
position: relative;
margin-bottom: -3%;
margin-left: 20%;
}
@media (max-width:768px) {
    #contact2 div{
        position: relative;
        margin-bottom: -3%;
        margin-left: 20%;
        font-size: 12px;
        } 
    
}
#foot{
    text-align: center;
    font-size: 14px;
    color: #ededed;
}